<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header>
  <%- include('./partials/logo.ejs') %>
  <% if (user) {%>
  <div id="signin"><a href="/logout" class="oauth-btn"><%= user.name %></a></div>
  <% } else { %>
  <div id="signin"><a href="/auth/google" class="oauth-btn">Google Sign In</a></div>
  <% } %>
</header>

<body>
  <div class="body-container">
    <div id="flex-container">
      <h1>Dashboard</h1>
      <% if (user) {%>
      <img>
      <a href="/publications">
        <button type="button" class="tracker-selection gray-bg">Publications</button>
      </a>
      <a href="/sleep">
        <button type="button" class="tracker-selection gray-bg">Sleep</button>
      </a>
      <a href="/journals">
        <button type="button" class="tracker-selection gray-bg">Journal</button>
      </a>
      <a href="/feed">
        <button type="button" class="tracker-selection gray-bg">Feed</button>
      </a>
      <% } else { %>
      No User is Signed In
      <% } %>
      </div>
  </div>
  <%- include('./partials/footer.ejs') %>