<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <header>
    <%- include('./partials/logo.ejs') %>
      <% if (user) {%>
        <div id="signin"><a href="/logout" class="oauth-btn"><%= user.name %></a></div>
        <% } else { %>
          <div id="signin"><a href="/auth/google" class="oauth-btn">Google Sign In</a></div>
          <% } %>
  </header>
  <body>
    <div class="body-container">
      <h1>Dashboard</h1>
      </body>
    </div>
      <%- include('./partials/footer.ejs') %>