<form action="/sleep/<%= user %>" method="POST">
    <input type="date" name="date" placeholder="Date">
    <input type="time" name="start" placeholder="Start Time">
    <input type="time" name="end" placeholder="End Time">
    <textarea type="text" name="notes" placeholder="Notes"></textarea>
    <button type="submit" class="new-entry-btn btn">Add New</button>
</form>