html {
  background-image: linear-gradient(to bottom right, #000, #444) no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  color: white;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

#logo {
  display: inline;
  font-size: 24px;
  font-weight: bold;
  border: 3px solid darkgrey;
  border-radius: 10px;
  padding: 10px;
  padding-top: 15px;
  color: lightgrey;
}

#logo:hover {
  color: darkred;
}

#signin {
  display: inline;
  position: absolute;
  right: 50px;
  font-size: 18px;
}

footer {
  position: absolute;
  bottom: 20px;
  color: white;
  width: 80vw;
}

.body-container {
  display: flex;
  height: 500px;
  width: 800px;
  margin: 50px auto;
}

.general-detail-container {
  margin: 0px auto;
  margin-top: 50px;
}

.body-container > p, .general-detail-container > p {
  font-size: 18px;
  text-align: justify;
}

.signUp {
  margin: 10px;
}

.oauth-btn {
  position: fixed;
  top: 40px;
  right: 30px;
  font-size: 14px;
  border: 2px solid darkred;
  color: darkred;
  border-radius: 5px;
  padding: 10px;
  width: 120px;
  text-decoration: none;
  letter-spacing: 1px;
  text-align: center;
  box-shadow: 2px 2px 7px #222;
}

.oauth-btn:hover {
  background-color: red;
  color: white;
}

.oauth-btn:active {
  box-shadow: 1px 1px 5px #222;
}

.flex-container{
  display: flex;
  width: 100vw;
  height: 80vh;
}

.tracker-selection {
  width: 200px;
  height: 150px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border: 2px solid lightgray;
  border-radius: 10px;
  box-shadow: 2px 2px 10px black;
  margin: 10px;
}

.tracker-selection:hover{
  cursor: pointer;
}

.tracker-selection:active {
  box-shadow: 1px 1px 1px black;
}

.side-list{
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  width: 50%;
  padding: 0px 2%;
}

.list-item {
  height: fit-content;
  width: 97%;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #222;
  border: 1px solid #555;
  border-radius: 5px;
}

.btn {
  border: 2px solid white;
  border-radius: 5px;
  height: 30px;
  box-shadow: 2px 2px 7px #222;
}

.btn-float-right{
  float: right;
}

.btn-float-left{
  float: left;
}

.new-entry-btn {
  display: block;
  border: 2px solid darkgreen;
  border-radius: 5px;
  background-color: green;
  color: white;
}

.new-entry-btn:hover {
  cursor: pointer;
  color: black;
}

.new-entry-btn:active {
  background-color: darkgreen;
  box-shadow: 1px 1px 3px #222;
}

.edit-btn {
  color: #444;
}

.edit-btn:hover{
  color: black;
}

.delete-btn {
  display: block;
  border: 2px solid darkred;
  border-radius: 5px;
  background-color: darkred;
  color: black;
  font-weight: bold;
}

.delete-btn:hover {
  cursor: pointer;
  color: white;
}

.delete-btn:active {
  background-color: darkred;
  box-shadow: 1px 1px 3px #222;
}

.form-entry {
  display: block;
  position: relative;
  width: 50%;
  height: 500px;
  top: 50px;
}

.form-entry input {
  margin: 10px;
  width: 300px;
  height: 40px;
  background-color: #dadada;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  color: black;
}

.form-entry textarea {
  margin: 10px;
  width: 300px;
  height: 200px;
  background-color: #dadada;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
  color: black;
}

.id-lbl {
  margin: 10px;
  font-size: 18px;
  color: lightgrey;
}

.right-side {
  float: right;
}

.left-side {
  float: left
}

.fa-edit{
  float: right;
  font-size: 18px;
  width: 30px;
  padding: 0px;
  margin-right: 10px;
}

.fa-edit:hover {
  background-color:white;
  color: darkred;
}

.gray-bg {
  background-color: gray;
  border-color: gray;
  color: white;
}

.gray-bg:hover {
  background-color: lightgray;
  border-color: lightgray;
  color: black;
}

.blue-bg {
  background-color: darkblue;
  border-color: darkblue;
}

.blue-bg:hover {
  background-color: rgb(0, 0, 255);
  border-color: rgb(0, 0, 255);;
}

.red-bg {
  background-color: darkred;
  border-color: darkred;

}

.red-bg:hover {
  background-color: red;
  border-color: red;
}


.green-bg {
  background-color: green;
  border-color: green;
}

.green-bg:hover {
  background-color: rgb(0, 255, 0);
  border-color: rgb(0, 255, 0);
}

#journal-entry {
  height: 100%;
  width: 100%;
}

#timestamp {
  float: right;
  text-align: right;
  font-family: monospace;
  font-size: 14px;
  color: #bbb;
}