<select name="mood">
        <option value="Happy">Happy</option>
        <option value="Hungry">Hungry</option>
        <option value="Sad">Sad</option>
        <option value="Lonely">Lonely</option>
        <option value="Excited">Excited</option>
        <option value="Irritated">Irritated</option>
        <option value="Playful">Playful</option>
        <option value="Compassionate">Compassionate</option>
        <option value="Loving">Loving</option>
        <option value="Angry">Angry</option>
        <option value="Neutral">Neutral</option>
    </select>