<form class="form-entry" action="/moods" method="POST">
    <%- include('moodsList.ejs') %>
    <input type="text" name="location" placeholder="Location">
    <textarea name="notes" placeholder="notes"></textarea>
    <button class="btn new-entry-btn">Add</button>
</form>