<form action="/moods" method="POST">
    <select name="moods">
        <option>Happy</option>
        <option>Hungry</option>
        <option>Sad</option>
        <option>Lonely</option>
        <option>Excited</option>
        <option>Irritated</option>
        <option>Playful</option>
        <option>Compassionate</option>
        <option>Loving</option>
        <option>Angry</option>
    </select>
    <input type="text" name="location" placeholder="Location">
</form>